{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Proyecto Final{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav>
        <a href="{% url 'home' %}">Inicio</a>
        <a href="{% url 'about' %}">Acerca de mí</a>
        <a href="{% url 'post_list' %}">Blog</a>

        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">Perfil</a>
        <a href="{% url 'bandeja' %}">Mensajes</a>
        <a href="{% url 'logout' %}">Cerrar sesión</a>
        {% else %}
        <a href="{% url 'login' %}">Iniciar sesión</a>
        <a href="{% url 'signup' %}">Registrarse</a>
        {% endif %}
    </nav>

    <hr>

    {% block content %}{% endblock %}
</body>

</html>